<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Current Weather</title>
</head>
<body>

  <div class="container">
    <h1><%= title %></h1>

    <div class="form">
      <form action="/" method="POST">
        <input name="city" type="text" id="city" placeholder="Enter a city">
        <button type="submit" id="get-weather">Get weather</button>
      </form>
    </div>
    
    <% if (weather !== null) { %>

      <h2><%= location %></h2>

      <img src="/images/icons/<%= icon %>.png" alt="">

      <p class="condition"><%= condition %></p>
      <p class="temp"><%= temp %>&deg;C</p>
      
    <% } %>

  </div>

</body>
</html>